body {
    margin: 0;
    background-image: url("../images/geometric_pattern_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Courier New", Courier, monospace;
}



.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #f0ece4;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

header img {
    width: 200px;
}

nav a {
    text-align: center;
    color: #03045E;
    text-decoration: none;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 50px;
    margin-top: 25px;
}


/* Add the line after each link */
nav a:not(:last-child)::after {
    content: "|";
    position: absolute;
    right: -2rem;
    color: #03045E;
}



main {
    padding-left: 150px;
    padding-right: 150px;
    font-weight: bolder;
}

ul {
    list-style-type: "◆  ";
    /* fancy bullet */
    padding-left: 1.2rem;
}

ul li::marker {
    color: #03045E;
}

ul li {
    line-height: 1.5;
}




footer {
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
    padding-top: 0px;
    display: flex;
    gap: 50px;
}