body {
    margin: auto;
    background-color: #f0ece4;
    max-width: 800px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 200px;
}

nav a {
    text-align: center;
    color: #03045E;
    text-decoration: none;
    padding: 35px;
}

nav {
    columns: 1/3;
}