body {
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    background-color: gray;
}

header {
    background-color: #222;
    color: #fff;
    padding: 0.75rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-weight: 400;
}

main {
    display: grid;
    grid-template-columns: .1fr .1fr 1fr .1fr;
    margin-top: 20px;
}

hr {
    width: 100%;
    grid-column: 1 / 5;
}

h2 {
    grid-column: 2/3;
}

#blue {
    background: blue;
    grid-column: 1 / 2;
    display: grid;
    align-items: center;
    justify-items: center;
}

#white {
    background: white;
    grid-column: 2 / 4;
}

#red {
    background: red;
    grid-column: 1 / 4;
}

#chile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 200px;
    width: 300px;
}

.star {
    width: 70px;
    aspect-ratio: 1;
    background: white;
    clip-path: polygon(50% 0, 79% 90%, 2% 35%, 98% 35%, 21% 90%);
}

#denmark {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    height: 200px;
    width: 300px;
}

#dred1 {
    background-color: red;
    width: 100px;
    height: 85px;
}

#dred2 {
    background-color: red;
    width: 170px;
    height: 85px;
}

#dred3 {
    background-color: red;
    width: 100px;
    height: 85px;
    align-self: end;
}

#dred4 {
    background-color: red;
    width: 170px;
    height: 85px;
    align-self: end;
}

#finland {
    display: grid;
    background: blue;
    grid-template-columns: 5fr 3fr 10fr;
    grid-template-rows: 4fr 3fr 4fr;
    width: 300px;
    height: 200px;
}

#fwhite1 {
    background: white;
    grid-area: 0 / 1 / 1 / 2;
}

#fwhite2 {
    background: white;
    grid-area: 3 / 1 / 4 / 2;
}

#fwhite3 {
    background: white;
    grid-area: 1 / 3 / 2 / 4;
}

#fwhite4 {
    background: white;
    grid-area: 3 / 3 / 4 / 4;
}

#benin {
    display: grid;
    grid-template-columns: 6fr 9fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    height: 200px;
    width: 300px;
}

#bgreen {
    background-color: green;
    grid-area: 1/1/3/2;
}

#byellow {
    background-color: yellow;
}

#bred {
    background-color: red;
}

#italy {
    grid-template-columns: 1fr 1fr 1fr;
}