body {
    background-color: #cfcfcf;
}

.departureinfo {
    background-color: #001b36;
}

.departureinfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 0px;
}

.departureinfo h2 {
    color: white;
    margin: 13px;
}

.departureinfo h4 {
    color: lightblue;
}

.gateinfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #f1f1f1;
}

.gateinfo h3 {
    color: #001b36;
}

#boardingpass {
    max-width: 50%;
    background-color: white;
    margin: 0 auto;
    border-radius: 20px;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px 30px;

}

main {
    text-align: center;
}

footer {
    padding: 1%;
    text-align: center;
}

.logo {
    text-align: left;

}

.airplanelogo {
    margin-top: 45px;
}

.name {
    text-align: right;
}