body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #e8eced;
    text-align: center;
    margin: 50px;
}

main {
    padding: 50px;
    background-image: url("../images/christus.webp");
    background-size: cover;
    background-position: center;
    border: 10px solid black;
    border-radius: 40px;
}

img {
    border: 10px solid white;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}



#firstpresidency {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

#firstpresidency div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

.president {
    width: 120px;
    height: 120px;
}

#quorumofthetwelveapostles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

#quorumofthetwelveapostles div {
    display: flex;
    justify-content: center;
    gap: 20px;
}