* {
    margin: 0;
}

body {
    background: rgb(120, 96, 64);
    text-align: center;
}

#formContainer {
    width: fit-content;
    margin: 30px;
    margin: auto;
    background-color: white;
    border: 10px solid blue;
    overflow: hidden;
    border-radius: 30px;
    position: relative;
    background-image: url("../images/jesus_feeds_5000.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
}

header {
    color: white;
    margin-top: 100px;
}

#closeBtn {
    position: absolute;
    top: 20px;
    left: 20px;
}

#myForm {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
}

h3 {
    grid-column: 1/3;
}

#scriptures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

img {
    width: 115px;
}

#myForm section {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}