div {
    background-color: lightblue;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 0px;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 0px;

}

.first {
    grid-column: 1/-1;
    background-color: red;
}

#second {
    grid-column: 1/-1;
    background-color: yellow;
}

#third {
    background-color: blue;
    grid-column: 1/2;
}

#fourth {
    color: white;
    background: black;
    grid-column: 2/-1;
}